In [14]:
import pandas as pd

df = pd.read_csv('/Users/saad/Documents/GitHub/NoParkingAllowed/SF Parking Sign Detection/trainingset_annotations.csv')
df

,image_name,image_url,xmin,xmax,ymin,ymax
0,Frl1FCa6v4X6z21I0es70w_zoom_5___1_6.jpg,https://requestor-proxy.figure-eight.com/figur...,59,109,300,357
1,Frl1FCa6v4X6z21I0es70w_zoom_5___1_6.jpg,https://requestor-proxy.figure-eight.com/figur...,53,101,257,309
2,FGmto9ZBGMNr_s4_c89G_g_zoom_5___1_11.jpg,https://requestor-proxy.figure-eight.com/figur...,710,826,295,433
3,1Qn5_JRh_Bb8axrWdUej8A_zoom_5___1_9.jpg,https://requestor-proxy.figure-eight.com/figur...,347,389,218,317
4,1Qn5_JRh_Bb8axrWdUej8A_zoom_5___1_9.jpg,https://requestor-proxy.figure-eight.com/figur...,342,381,316,425
...,...,...,...,...,...,...
2252,y1SR9VEd5KAen1iusx2Hdg_zoom_5___1_5.jpg,https://requestor-proxy.figure-eight.com/figur...,538,590,298,354
2253,ZBoz4vPEr1c9Qz25C6CV-g_zoom_5___1_0.jpg,https://requestor-proxy.figure-eight.com/figur...,685,723,306,349
2254,ZBoz4vPEr1c9Qz25C6CV-g_zoom_5___1_12.jpg,https://requestor-proxy.figure-eight.com/figur...,833,874,286,328
2255,zCtKblvtFS0olTVtnOHWbQ_zoom_5___1_7.jpg,https://requestor-proxy.figure-eight.com/figur...,265,299,262,301
2256,zCtKblvtFS0olTVtnOHWbQ_zoom_5___1_7.jpg,https://requestor-proxy.figure-eight.com/figur...,268,300,304,340

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2257 entries, 0 to 2256
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   image_name  2257 non-null   object
 1    image_url  2257 non-null   object
 2    xmin       2257 non-null   int64
 3    xmax       2257 non-null   int64
 4    ymin       2257 non-null   int64
 5    ymax       2257 non-null   int64
dtypes: int64(4), object(2)
memory usage: 105.9+ KB

In [16]:
df.describe()

              xmin         xmax         ymin         ymax
count  2257.000000  2257.000000  2257.000000  2257.000000
mean    516.705361   572.592379   309.746566   384.462561
std     302.748791   303.288366   170.445509   173.910269
min       0.000000    29.000000     0.000000    13.000000
25%     245.000000   303.000000   233.000000   301.000000
50%     524.000000   583.000000   287.000000   350.000000
75%     786.000000   844.000000   339.000000   415.000000
max    1037.000000  1050.000000  1022.000000  1050.000000

In [18]:
### There are no missing values